input:focus {
  outline: 2px solid white;
}

input {
  font-family: Inter, sans-serif;
}

input::placeholder {
  color: #a0aec0;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%)  rotate(360deg);
  }
}