@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  user-select: none;
}

.sidenav {
  width: 225px;
  transition: width 0.75s cubic-bezier(0.85, 0, 0.15, 1), opacity 0.75s cubic-bezier(0.85, 0, 0.15, 1), margin-left 0.75s cubic-bezier(0.85, 0, 0.15, 1);
}

.sidenav.hide {
  width: 0!important;
  opacity: 0;
  overflow: hidden;
  margin-left: -8px;
}

.toolbar-input::placeholder {
  color: rgba(255,255,255,0.27)!important;
  opacity: 1;
}

.tab {
  transition: background 0.1s ease;

  &.new * {
    color: rgba(255,255,255,0.4)!important
  }

  .icon {
    opacity: 0;
    transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease;

    &:active {
      color: white;
    }

    &:disabled {
      color: rgba(255,255,255,0.2);
    }

    &:hover {
      color: white;
      background: rgba(255,255,255,0.15);
    }
  }

  &.active {
    background: rgba(255,255,255,0.28)!important;
  }

  &:hover {
    background: rgba(255,255,255,0.15)!important;

    & .icon {
      opacity: 1;
    }
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) scale(3);
  }
  25% {
    transform: translate(-50%, -50%) rotate(90deg) scale(3);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg) scale(2.4);
  }
  75% {
    transform: translate(-50%, -50%) rotate(270deg) scale(2.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) scale(2);
  }
}


@keyframes cycle {
  0% {
    background-color: hsla(278,100%,77%,1);
  }
  10% {
    background-color: hsla(184,100%,78%,1);
  }
  20% {
    background-color: hsla(285,100%,88%,1);
  }
  30% {
    background-color: hsla(250,69%,76%,1);
  }
  40% {
    background-color: hsla(266,100%,76%,1);
  }
  50% {
    background-color: hsla(242,100%,50%,1);
  }
  60% {
    background-color: hsla(183,90%,63%,1);
  }
  70% {
    background-color: hsla(236,100%,50%,1);
  }
  80% {
    background-color: hsla(240,100%,50%,1);
  }
  90% {
    background-color: hsla(265,0%,100%,1);
  }
  100% {
    background-color: hsla(278,100%,77%,1);
  }
}

.results {
  .result {
    border-radius: 10px;
    cursor: pointer;

    &:first-of-type {
      margin-top: 7.5px!important;
    }

    &:last-of-type {
      margin-bottom: 7.5px!important;
    }

    &:hover {
      background: rgba(120, 130, 255, 0.25);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
      color: rgba(255,255,255,1)!important;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column-reverse!important;
    padding-top: 8px;
  }
  body > div:nth-of-type(1) > div:nth-child(5) {
    position: fixed;
    top: -35px!important;
    width: calc(100% - 15px)!important;
    margin-left: 0px;
  }
  body > div:nth-of-type(1) {
    padding: 10px;
    margin: 0px!important;
  }

  body > div:nth-of-type(2) > div:nth-child(2) {
    height: calc(100% - 50px)!important;
  }

  body > div:nth-of-type(3) {
    width: calc(100% - 15px)!important;
  }
}